.text-gradient-red {
  background-image: linear-gradient(to top right, #ff4f81, #ff6c5f, #ffc168);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-red {
  background: linear-gradient(to top right, #ff4f81, #ff6c5f, #ffc168);
}

.text-gradient-bluered {
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-bluered {
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}


.text-primary {
  @extend .text-gradient-red
}

.text-red {
  background-image: linear-gradient(134deg,#ea384d 0%,#d31027 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  //color: #FC2E58;
  //color: #EF4266;

  //background-image: linear-gradient(90deg,#b6246e 0%,#f9636b 100%);
  //background-image: linear-gradient(90deg,#EA3B50 0%,#FB7949 100%);
}



//
//.bg-red {
//  background: #FC2E58;
//}