.leaflet-grab {
  cursor: inherit!important;
}

.leaflet-control-attribution {
  > a[href="https://leafletjs.com"] {display: none}
  > span {display: none}
}

.leaflet-control-locate .leaflet-bar-part {
  display: flex;
  justify-content: center;
  align-items: center;
}